{% extends "base.html" %}
<!-- This extends the base html  -->
    


{% block title %} Login to Mimo.io {% endblock %}
<!-- This is for the title  -->
    

<!-- All your template code goes in here -->
{% block content %}
<form method="post">
        <h1>Log in</h1>
                <div>
                        <label for="email">Enter Email Address </label>
                        <input 
                                type="email" 
                                id="email" 
                                name="email" 
                                required 
                                placeholder="johndoe@gmail.com">
                </div>
                
                <div>
                        <label for="password1">Password</label>
                        <input 
                                type="password" 
                                id="password1" 
                                name="password1" 
                                required 
                                placeholder="Enter Password" 
                                minlength="8">
                </div>
               

                <button type="submit"> Login </button>


</form>
{% endblock %}

